body {
  font-family: Bangers-Regular, sans-serif;
  background-size: cover;
  width: 1000px;
  height: auto;
  color: aliceblue;
}

h1 {
  user-select: none;
}


.mywebpacktool{
  width: 250px;
  height: auto;
}

.nuxt{
  width: 80px;
  height: auto;
}
